<div class="labeled_form_field clear">
  <span class="field_label">
    <%= label %>
  </span>
  <span class="form_field">
    <span class="form_error_message">
      <%= error %> 
    </span>
    <%= element %>    
  </span>
</div>